<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About & Help</h4>
      </div>
      <div class="modal-body">
          <p>Hello, welcome to my <strong>Stackoverflow Analyser !</strong><p>
          <p>
          It's a simple web based project writen in python, bootstrap and jQuery.
          I use scrapy to crawl nearly 800 million questions from the famous Q&A site
          <a href="http://www.stackoverflow.com">stackoverflow</a>.
          Then I spend a lot of time to find out what on earth the site has and the result is what you have seen.
          </p>
          <p>
              Now with <strong>Stackoverflow Analyser</strong>, it's easy for you to learn:
              <ul>
                <li>What's the most frequently asked topics?</li>
                <li>How much share every topic account for?</li>
                <li>How the attention of every topic change with time?</li>
              </ul>
          </p>
          <p>If you want to know how I make it, you may <a href="">download the ppt</a> for more information.
              And I have put the source code on <a href="">GitHub</a>, any communication is welcome!</p>
          <p>Feel free to contact me: <a href="">330194737@qq.com</a>, if you have any problem.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>